@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root {
    --red: #E50914;
    --blue: #009DFF;
    --back-color: #141414;
    --nav-top: #060606;
    --nav-botton: #131313;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--back-color);
    font-family: 'Arial', Times, serif;
    color: white;
}

/* navbar */

header .logo {
    margin: 7px;
    color: var(--blue);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.3rem;
    font-size: 40px;
}

header nav a {
    color: #AAAAAA;
    margin-right: 10px;
}

header nav a:hover {
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* main-card */

.main-movie {
    font-size: 16px;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://www.themoviedb.org/t/p/original/ogtPIH1quolQcutu4ycUxmPBwSI.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

.main-movie .description {
    margin-top: 15px;
    margin-bottom: 40px;
    width: 75%;
}

.main-movie .title {
    margin-top: 15%;
    font-size: 35px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.details {
    font-size: 90%;
}

.certification {
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    align-content: center;
    padding: 0.15em 3.5px 0.06em 3.5px;
    border: 1px solid rgb(255, 255, 255);
    line-height: 1;
    border-radius: 2px;
    margin-right: 3px;
    margin-left: 4px;
}

.runtime {
    margin-left: 9px;
    display: inline-flex;
    white-space: nowrap;
}

.buttons {
    margin-bottom: 10px;
}

.btn {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn:hover {
    background-color: var(--blue);
}

i {
    margin-right: 3px;
    margin-right: 3px;
}

/* carousel */

.carousel {
    margin: 0;
    padding: 0;
}

.items {
    height: 500px;
    width: 100%;
    white-space: nowrap;
    user-select: none;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: pointer;
    transition: all 0.2s;
    transform: scale(0.8);
}

.item {
    height: 500px;
    margin: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.item a img {
    height: 400px;
}

.item:hover {
    transform: scale(1.6);
}

@media (max-width: 650px) {
    .item {
        height: 300px;
    }
    .items {
        height: 300px;
    }
    .item a img {
        height: 200px;
    }
}