@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root {
    --red: #E50914;
    --blue: #009DFF;
    --black: #000000;
    --back-color: #141414;
    --nav-top: #060606;
    --nav-botton: #131313;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: var(--back-color);
    font-family: 'Arial', Times, serif;
    color: white;
}

/* navbar */

header .logo {
    margin: 7px;
    color: var(--blue);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.3rem;
    font-size: 40px;
}

header nav a {
    color: #AAAAAA;
    margin-right: 10px;
}

header nav a:hover {
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* main-card */

.main-movie {
    font-size: 16px;
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://www.themoviedb.org/t/p/original/ogtPIH1quolQcutu4ycUxmPBwSI.jpg');
    background-size: cover;
}